/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 3, 2019, 9:40:47 PM
    Author     : ernesto.t.silva
*/
.div_a
 {
 color: green;
 font-size: 20px;
 border-style:solid;
 border-bottom-width:5px;
 border-color: red;
 width:50%;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 background-image: url("xxx.jpg");
 background-repeat: no-repeat;
 background-size: 100% ;
}

 .div_b
 {
 color: blue;
 font-size: 30px;
 font-family: Times, "Times New Roman", Georgia, serif;
 border-style:solid;
 border-bottom-width:5px;
 border-color:#005922;
 width:50%;
 float:left;
 margin-left: 550px;

 background-image: url("dd.jpg");
 background-repeat: no-repeat;
 background-size: 450px 300px ;

 }

 #container
 {
 width:1000px;
 border: solid;
 border-width: 15px;
 border-color:#99ddee;
 }